article {
  display: flex;
  flex-direction: column;
}

.imgWrapper {
  width: 100%;
  background-color: var(--clr-secondary);
  padding: 2rem;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 2rem;
  background-color: var(--clr-primary);
}

.contentWrapper h2 {
  font-family: "heading-bold";
  font-size: 2rem;
  font-size: clamp(1rem, 1rem + 2vw, 3rem);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.contentWrapper p {
  font-family: "regular";
  padding-right: 5rem;
}
