/* --- FONTS --- */
.title,
.sizeCell {
  font-family: "heading-bold";
}

/* --- BASE --- */
.productExpanded {
  display: flex;
  flex-direction: column;
}

.productContent {
  margin: 2rem;
}

.productImageWrapper {
  width: 100%;
  max-width: 85dvh;
  min-height: 40dvh;
  background-color: var(--clr-white);
  object-fit: cover;
}

.productImage {
  width: 100%;
}

.title {
  font-size: 2rem;
  letter-spacing: 4px;
}

.description,
.price {
  font-size: 1.6rem;
}

.price {
  margin-top: 1.5rem;
}

.sizingBoxHeader,
.sizingBox,
.addToCartBox {
  margin: 1rem 0;
}

.sizingBoxHeader {
  display: flex;
  justify-content: space-between;
}

.sizeGuide {
  text-transform: uppercase;
  text-decoration: underline;
}

.sizingBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.sizeCell {
  border: 1.5px solid var(--clr-grey);
  border-radius: 4px;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  transition: border 100ms ease-in-out;
}

.selected {
  background-color: var(--clr-black);
  color: var(--clr-primary);
}

.sizeCell:hover {
  border: 1.5px solid var(--clr-black);
}

.addToCartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--clr-black);
  color: var(--text-secondary);
  padding: 1em 0;
  border-radius: 4px;
}

.addToCartBtn:hover {
  opacity: 0.8;
}

@media (min-width: 800px) {
  .productImageWrapper {
    margin: 0 auto;
    padding: 0 1rem;
  }

  .productExpanded {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 2rem;
  }

  .productImageWrapper {
    grid-column: 1;
    margin-bottom: 4rem;
  }

  .productImage {
    max-height: 100%;
  }

  .productContent {
    grid-column: 2;
    margin: 1rem;
  }

  .sizingBoxHeader {
    margin-top: 4rem;
  }

  .addToCartBox {
    margin-top: 4rem;
  }

  .productOverview {
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 1px solid var(--clr-black);
  }
}
