.card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  cursor: pointer;
}

.card img {
  border: 1px solid blue;
  min-width: 200px;
  max-width: 250px;
  min-height: 250px;
  margin-bottom: 0.5rem;
}

.cardTitle {
  text-transform: uppercase;
}
