.card {
  display: flex;
  flex-direction: column;
  min-width: 175px;
  overflow: hidden;
  cursor: pointer;
}

.cardImage {
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.cardTitle {
  text-transform: uppercase;
}
