.carouselBanner {
  background-color: var(--clr-primary);
  padding: 1rem;
}

/* header */
.carouselBannerHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.carouselBannerHeader h3,
.carouselBanner a {
  text-transform: uppercase;
  cursor: pointer;
}

.carouselBannerHeader a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* items */
.carouselBannerItems {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1.2rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carouselBannerItems > * {
  flex: 0 0 150px; /* grow / shrink / basis */
}

.carouselBannerItems::-webkit-scrollbar {
  display: none;
}

@media (min-width: 500px) {
  .carouselBanner {
    padding: 2rem;
  }

  .carouselBannerItems {
    gap: 2.5rem;
  }
}
