header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingBox > h1 {
  font-family: "heading-bold";
  font-size: 1rem;
  font-size: clamp(1rem, 0.6rem + 2vw, 3rem);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.icon {
  font-size: clamp(1.4rem, 0.6rem + 2vw, 3rem);
}
