.heroTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.3fr;
  background-color: var(--clr-black);
  color: var(--text-secondary);
  padding: 2rem;
}

.heroTwoImg {
  grid-column: span 2;
  grid-row: 1;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroTwoHeader {
  grid-column: span 2;
  grid-row: 2;
}

.heroTwo h2 {
  font-size: 2rem;
  font-size: clamp(1rem, 1rem + 2vw, 3rem);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .heroTwo {
    padding: 0;
  }

  .heroTwoHeader {
    padding: 1rem 1rem 2rem 1rem;
  }
}

@media (min-width: 800px) {
  .heroTwoImg {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .heroTwoHeader {
    grid-column: 1;
    grid-row: 1 / span 2;
    padding: 0 2rem 0 0;
  }
}
