/* --- FONTS --- */
.cartHeading,
.cartTotalPrice {
  font-family: "heading-bold";
}

.totalBox > p {
  font-family: "heading-bold";
  text-transform: uppercase;
}

/* --- STYLES --- */

.cartPageWrapper {
  margin: 1rem;
}

.currentCartItems {
  display: flex;
  flex-direction: column;
}

.cartHeader {
  padding: 1rem 0 0 0;
  border-top: 2px solid var(--clr-black);
}

.cartHeading {
  text-transform: uppercase;
}

.cartTotalPrice {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
}

.orderSummaryHeading {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.orderSummary > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderSummary p {
  padding: 5px 0;
}

.totalBox > p {
  text-transform: uppercase;
  margin-top: 1rem;
}
