/* --- FONTS --- */
.cartHeading,
.cartTotalPrice {
  font-family: "heading-bold";
}

.totalBox > p {
  font-family: "heading-bold";
  text-transform: uppercase;
}

/* --- STYLES --- */

.cartPageWrapper {
  margin: 1rem;
}

.currentCartItems {
  display: flex;
  flex-direction: column;
}

.cartHeader {
  padding: 1rem 0 0 0;
  border-top: 1.5px solid var(--clr-black);
}

.cartHeading {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.cartTotalPrice {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
}

.orderSummaryHeading {
  text-transform: uppercase;
  padding: 1rem 0 0 0;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.orderSummary > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderSummary p {
  padding: 5px 0;
}

.totalBox > p {
  text-transform: uppercase;
  margin-top: 1rem;
}

.checkoutBtn {
  text-transform: uppercase;
  background-color: var(--clr-black);
  color: var(--clr-white);
  width: 100%;
  border-radius: 3px;
  margin-top: 1rem;
}

.checkoutBtn:hover {
  opacity: 0.8;
  transition: 0s;
}

@media (min-width: 800px) {
  .cartWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }

  .orderSummary {
    border-top: 1.5px solid var(--clr-black);
  }

  .checkoutBox {
    grid-column: span 2;
  }
}
