.shopBanner {
  background-color: var(--clr-primary);
  padding: 2rem;
}

/* header */
.shopBannerHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.shopBannerHeader h3,
.shopBannerHeader a {
  text-transform: uppercase;
  cursor: pointer;
}

.shopBannerHeader a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* items */

.shopBannerItems {
  display: flex;
  gap: 3rem;
}

.shopItem {
  display: flex;
  flex-direction: column;
}

.shopItem img {
  border: 1px solid blue;
  min-width: 200px;
  min-height: 250px;
  margin-bottom: 0.5rem;
}
