.blogEntry {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.blogEntry:last-child {
  margin-bottom: 3rem;
  grid-column: span 2;
  justify-self: center;
  max-width: 800px;
}

.blogImgWrapper {
  max-height: 25rem;
  margin-bottom: 2rem;
  min-height: 15rem;
  height: 16rem;
  overflow: hidden;
}

.blogImg {
  min-height: 15rem;
  object-fit: cover;
  object-position: center 40%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  font-family: "heading-bold";
}

.heading::after {
  content: " //";
}

.description {
  font-size: 1.5rem;
}

.cta {
  width: fit-content;
  text-transform: uppercase;
  border-bottom: 1.5px solid var(--clr-black);
  margin-top: 10px;
}

@media (min-width: 500px) {
  .blogEntry {
    padding: 1rem 0;
  }

  .content {
    justify-content: center;
    justify-items: center;
  }
}
