/* ------------------- ROOT ------------------- */
:root {
  /* colors */
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-cream: hsl(26, 28%, 89%);
  --clr-grey: hsl(45, 7%, 78%);
  --clr-dark-grey: hsl(43, 4%, 68%);
  --clr-darker-grey: hsl(0, 0%, 50%);

  /* background */
  --clr-primary: var(--clr-cream);
  --clr-secondary: var(--clr-grey);
  /* text */
  --text-primary: var(--clr-black);
  --text-secondary: var(--clr-white);
  --text-tertiary: var(--clr-darker-grey);
  /* accent/states */
  --clr-active: var(--clr-dark-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------- FONTS ------------------- */
/* heading */
@font-face {
  font-family: "heading-bold";
  src: url("../src/assets/fonts/Manrope-Bold.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../src/assets/fonts/Lato-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "heading-bold";
}

p,
a,
label,
input,
span,
img,
::placeholder,
button {
  font-family: "regular";
}

/* ------------------- RESET ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ------------------- BASE ------------------- */

a,
button,
img,
svg {
  transition: 0.25s ease-in-out;
}

a {
  cursor: pointer;
}

a:visited {
  color: var(--clr-black);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ------------------- MEDIA ------------------- */
